
.body {
	background-color: rgb(15, 22, 101);
}

#h1 {
	text-align: center;
	color: rgb(36, 104, 214);
	background-color: goldenrod;
}

#School-Pic {
	height: 56%;
	max-width: 18%;
	width: 20%;
	border:1px solid grey;
	position: absolute;
	margin-left: -0.5%;
	background-color: lightblue;
}

#School-Pics {
	height: 56%;
	max-width: 18%;
	width: 20%;
	border:1px solid grey;
	margin-left: 80.5%;
	position: absolute;
	background-color: lightblue;
}

#Calendar {
	border: 2px solid goldenrod;
	height: auto;
	width: auto;
	max-width: 60%;
	margin-left: 19.5%;
	position: relative;
	background-color: rgb(15, 22, 101);
}

.Days {
	width: 3em;
	height: 5em;
	display: inline-flex;
	flex-direction: row;
	margin: 0.4em;
	padding: 2%;
	border: 1px solid goldenrod;
	border-radius: 10%;
	background-color: goldenrod;
}

.Descriptions {
	position: relative;
	margin-top: 20%;		/* Styling could be better */
	display: inline-block;
	text-align: center;
}

.DescriptionImages {
	width: 68%;
	height: 68%;
}

#overlay-test {
	margin-top: 10%;
}

#Weekly {
	border: 2px solid goldenrod;
	height: 15%;
	width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	position: relative;
}

.weeks {
	height: 90%;
	width: 11%;
	margin-left: 1%;
	background-color: goldenrod;
	border: 1px solid goldenrod;
	border-radius: 10%;
	display: inline-flex;
	flex-direction: row;
}
